/*------COLORS------*/
$color: (
	white: #ffffff,
	darkish-green: #1f6032,
	medium-grey: #656d67,
	greenish: #369457,
	charcoal: #1d271d,
);
/*------Font sizes------*/
$font-size: (
	title: 2.6rem,
	subtitle: 1.8rem,
	p: 1.5rem,
);
/*------Mixins------*/
@mixin flex($justify-content: space-between, $align-items: center) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: HelveticaNeue, Arial, sans-serif;
}
body {
	width: 100vw;
	height: 100vh;
	padding: 0 8vw;
	font-size: map-get($font-size, p);
}
