doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='icon' href='./assets/img/bb-logo.svg')
      link(rel='preconnect', href='https://breakingbadapi.com/', crossorigin='')
      link(rel='dns-prefetch', href='https://breakingbadapi.com/')
      title Breaking Bad Cast
   body HI test
   script(defer="" src="./character.js")