doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='icon' href='./assets/img/bb-logo.svg')
      title Breaking Bad Cast
   body
      header.header
         ul.header__list
            li.logo.list__item: img(src="./assets/img/bb-logo.svg" alt="Logo")
            li.title.list__item Cast
            li.list__item: img(src="./assets/img/Search.svg" alt="Search").item__img
      section
         p.paragraph In this app you can check the breaking bad cast.
         .characters(id="characters")